/* You can add global styles to this file, and also import other style files */
/* styles.scss (global) */

p {
  margin: 0;
  padding: 0;
}

input,
textarea,
select,
button {
  all: unset; /* Resets all styles */
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.disabled-btn {
  opacity: 0.5;
  pointer-events: none; /* Prevents clicks */
  cursor: not-allowed;
}
